@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #CCC1FF;
}

.container{
    width: 100%;
    max-width: 550px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.5);
}

.primary {
    background-color: #6943FF;
    text-align: center;
    color: #fff;
    margin: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.primary h1{
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.03em;
}

.primary input{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 2px solid #B295FF;
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
    padding: 0;
    width: 147px;
    height: 83px;
    background-color: transparent;
    border-radius: 5px;
    color: #fff
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.primary button {
    width: 117px;
    height: 42px;
    margin-bottom: 34px;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: pointer;
}

.primary button:active {
    box-shadow: 0px 1px 10px 7px rgba(210, 210, 210, 0.65);
}

.secondary {
    background-color: #1F2937;
    margin: 0;
    text-align: center;
    padding: 36px 25px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.secondary h3{
    color: #CCC1FF;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 9px;
}

.secondary p{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.metric {
    background-color: #273549;
    padding: 19px 77px;
    margin-bottom: 24px;
}

.metric:last-child{
    margin-bottom: 0;
}